<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772122362030-b9p2vgbvslqi3a75ug07sfflf7uftagc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772122362030-b9p2vgbvslqi3a75ug07sfflf7uftagc</string>
	<key>API_KEY</key>
	<string>AIzaSyDoWBWmUZdJlCw-STl9UvdUIL6ZpcITI2c</string>
	<key>GCM_SENDER_ID</key>
	<string>772122362030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.practice.Instagram</string>
	<key>PROJECT_ID</key>
	<string>photouploader2-b58d3</string>
	<key>STORAGE_BUCKET</key>
	<string>photouploader2-b58d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772122362030:ios:518744378118343d7fad3f</string>
</dict>
</plist>